# OS
*.DS_Store

# dependencies
node_modules

# logs
npm-debug.log

# Nuxt build
.nuxt

# Nuxt generate
dist

# firebase project config
.firebaserc

# firebase log
.firebase-debug.log

# publish directory for firebase hosting
./public

# firebase cache
.firebase